<div class="column" layout="vertical" ng-controller="sidebar">


    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-style="{height: windowHeight + 'px'}">
		<md-toolbar class="sidebar-logo">
			<md-button ng-click="closeLeft()" id="menu-toggle" hide-gt-md>
		        <md-icon md-svg-src="img/icons/close.svg" aria-label="Enable Menu"></md-icon>
			</md-button>

			<a class="md-toolbar-tools" href="#">Nemea</a>
			
		</md-toolbar>

		<md-content>
			<div ng-repeat="menu_item in menu">
				<md-button class="md-button-toggle menu_item" ng-href="#/{{menu_item.link}}" ng-click="enable=!enable" ng-class="{'toggled-item' : !enable}">
					{{menu_item.title}} <span ng-if="menu_item.items && enable" class="toggle">+</span> <span ng-if="!enable" class="toggle">-</span>
				</md-button>
				<md-button class="md-button-toggle submenu_item" ng-href="#/{{submenu_item.link}}" ng-repeat="submenu_item in menu_item.items" ng-hide="enable" ng-class="{'animate fadeIn' : !enable}" >{{submenu_item.title}}</md-button>
			</div>

			
		</md-content>
	</md-sidenav>
</div>