<h1>{{title}}</h1>

<div class="content">

Jsem: <md-content class="md-padding">
    <form>
      <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in people | filter: searchText"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Jmeno?">
        <md-item-template>
          <span md-highlight-text="homeController.searchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
      </md-autocomplete>

      <select ng-model="pizza.type">
      	<option>Sunkova</option>
      	<option>Zampionova</option>
      	<option>Hnusna</option>
      	<option>Hawaii</option>
      </select>

    </form>
  </md-content>