<section layout="row">
    <sidebar-menu></sidebar-menu>
    
    <md-content flex layout="column" >
        
        <topbar-menu></topbar-menu>
        <section class="content" layout-padding>

        <div flex>
            <md-datepicker ng-model="query.date" md-placeholder="Date from" ng-change="parseDate(query.date)"></md-datepicker>
            <md-input-container>
                <label>From</label>
                <input ng-model="query.from" type="time">
            </md-input-container>
            <md-input-container>
                <label>To</label>
                <input ng-model="query.to" type="time">
            </md-input-container>
            <md-input-container>
                <label>Limit</label>
                <input ng-model="query.limit">
            </md-input-container>

            <md-button class="md-raised md-primary" ng-click="loadItems(query)">{{ filter.btn }}</md-button>
        </div>

    <div class="table" layout="column" flex>
        <div class="head" layout="row" flex>
            <div flex>Event Time</div>
            <div flex>
                Category
                <md-input-container>
                    <label>Filter by category</label> <input type="text" ng-model="filter.category"> 
                </md-input-container></div>
            <div flex>
                Source<br>
                <md-input-container>
                    <label>Filter by protocol</label> <input type="text" ng-model="filter.proto"> 
                </md-input-container>
            </div>
            <div flex>Description
                <md-input-container>
                    <label>Filter by description</label> <input type="text" ng-model="filter.desc"> 
                </md-input-container>
            </div>
            <div flex>
                Flows
                <div layout="row">
                <md-input-container flex>
                    <label>Min</label> <input type="text" ng-model="filter.flows_from"> 
                </md-input-container>
                <md-input-container flex>
                    <label>Max</label> <input type="text" ng-model="filter.flows_to"> 
                </md-input-container>
                </div>
            </div>
            <div flex>JSON</div>
        </div>
        <div layout="column" ng-repeat="item in data | filter: events" ng-init="enableSub = true" class="row"  flex>
            <div layout="row" flex>
                <div flex>{{ item.DetectTime['$date'] | date : 'MM/dd H:mm:ss'}}</div>
                <div flex>{{ item.Category[0] }}</div>
                <div flex>{{ item.Source[0].Proto[0] }} | {{ item.Source[0].IP4[0] }}</div>
                <div flex>{{ item.Description }}</div>
                <div flex>{{ item.FlowCount }}</div>
                <div flex>
                    <md-button class="md-button-toggle" ng-click="enableSub = !enableSub"  aria-label="Enable details">
                        <span ng-if="enableSub">Show details</span>
                        <span ng-if="!enableSub">Hide details</span>
                    </md-button>
                </div>
            </div>
            <div ng-if="!enableSub" class="item_info" ng-class="{'toggled-detail' : !enableSub}" flex>
                <div class="event" ng-bind-html="item | json2html"></div>
            </div>                                <!--td><json-tree json='item' edit-level='low'></json-tree></td-->
            <div layout="row" flex ng-if="$last">
                Load next 100 items {{ item.DetectTime }}
            </div>
        </div>
        
    </div>
        

        </section>
    </md-content>
</section>
