<section layout="row" flex>
    <div flex="20">
        <sidebar-menu></sidebar-menu>
        <topbar-menu></topbar-menu>
    </div>
    
    <md-content flex="80">
        <section class="" layout="column" >

        <div flex>
            <md-input-container>
            <label>Filter by protocol</label> <input type="text" ng-model="filter.proto"> 
            </md-input-container>
            <md-input-container>
            <label>Filter by category</label> <input type="text" ng-model="filter.category"> 
            </md-input-container>
            <md-input-container>
                <label>Limit</label>
                <input ng-model="filter.items">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="loadItems(filter.items)">{{ filter.btn }}</md-button>
        </div>

    <div class="table" layout="column" flex>
        <div class="head" layout="row" flex>
            <div flex>ConnCount</div>
            <div flex>Category</div>
            <div flex>Source</div>
            <div flex>Detect Time</div>
            <div flex>Description</div>
            <div flex>JSON</div>
        </div>
        <div layout="column" ng-repeat="item in data | filter: events" ng-init="enableSub = true" class="row" flex>
            <div layout="row" flex>
                <div flex>{{ item.ConnCount }}</div>
                <div flex>{{ item.Category[0] }}</div>
                <div flex>{{ item.Source[0].Proto[0] }} | {{ item.Source[0].IP4[0] }}</div>
                <div flex>{{ item.EventTime | date : 'hh:mm:ss yyyy-MM-dd' }}</div> <!--  | date : 'yyyy-MM-dd' -->
                <div flex>{{ item.Description }}</div>
                <div flex>
                    <md-button class="md-button-toggle" ng-click="enableSub = !enableSub"  >
                        <span ng-if="enableSub">Show details</span>
                        <span ng-if="!enableSub">Hide details</span>
                    </md-button>
                </div>
            </div>
            <div ng-if="!enableSub" class="item_info" flex ng-class="{'toggled-item' : !enableSub}">
                <div>{{ item | json }}</div>
            </div>
                                    <!--td><json-tree json='item' edit-level='low'></json-tree></td-->
        </div>
    </div>
        

        </section>
    </md-content>
</section>
