<section layout="row">
    <sidebar-menu></sidebar-menu>

    <md-content flex layout="column" >
	    <topbar-menu></topbar-menu>
        <section class="content">
	
	    <div layout-gt-md="row" ng-repeat="boxes in boxes_arr" ng-init="parIndex = $index" class="row-box" ng-controller="row" flex>
		    <div flex ng-repeat="box in boxes.items" class="box md-whiteframe-z1" ng-animate="'animate'" ng-class="{'last': $last}" ng-controller="box">
                
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open box interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                    <md-icon md-menu-origin md-svg-src="img/icon-menu.svg"></md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ng-click="edit(box)">
                            <md-icon md-menu-align-target md-svg-src="img/edit.svg" style="margin: auto 3px auto 0;"></md-icon> 
                            Edit
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                            Move
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="removeElem(parIndex, $index)">
                            <md-icon md-menu-align-target md-svg-src="img/close.svg" style="margin: auto 3px auto 0;"></md-icon> 
                            Delete
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
                </md-menu>
			<!-- <div ng-init="showTitle = true">
				<h2 ng-show="showTitle" ng-click="editTitle(); showTitle=!showTitle">{{box.title}}</h2>
				<md-input-container ng-hide="showTitle">
					<input type="text" value="{{box.title}}" ng-blur="editTitle(box.title); showTitle=!showTitle" ng-model="box.title" class="focusTitle" aria-label="Edit Title">
				</md-input-container>
			</div> -->

			    <h2 ng-if="!editMode">{{box.title}}</h2>
                <div ng-if="loading == true" class="loading" layout-align="center center" layout="row">
                    <!--img src="img/loading.gif" alt="Loading">
                    <br>
                    Loading...-->
                    <div><md-progress-circular flex md-mode="indeterminate" md-diameter="72" flex></md-progress-circular></div>
                    <br>
                    Fetching data
                </div>
                <nvd3 options="box.options" api="api" showYAxis="true"
	                tooltips="true"
	                interactive="true" 
	                data="box.data"
	                autorefresh="true"
                    objectEquality="true" 
                    config="{refreshDataOnly: true, deepWatchData : true}" >
                </nvd3>

                <h3 ng-if="total > 0">{{ total | number}}</h3>
                <md-button ng-click='user()'>User</md-button>
                <div ng-if="editMode"> 
                
                    <md-input-container>
                        <label>Title</label>
                        <input ng-model="box.title">
                    </md-input-container>    
                   </br> 
                    <md-input-container>
                        <label>Type of view</label>
                        <md-select ng-model="box.type" >
                            <!--md-optgroup label="Types"-->
                                <md-option ng-value="type" ng-repeat="type in types">{{type}}</md-option>
                            <!--/md-optgroup-->
                        </md-select>
                    </md-input-container>
                    
                    
                    <md-input-container ng-if="box.type == 'piechart' || box.type == 'barchart'">
                        <label>Metric</label>
                        <md-select ng-model="box.config.metric">
                            <md-optgroup label="Metric">
                                <md-option ng-value="item" ng-repeat="item in ['category'] track by $index">{{ item }}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    
                    
                    <md-input-container ng-if="box.type == 'histogram'">
                        <label>Protocol</label>
                        <md-select ng-model="box.config.protocol">
                            <md-optgroup label="Protocols">
                                <md-option ng-value="proto" ng-repeat="proto in protocol track by $index">{{proto}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>

                    <md-input-container ng-if="box.config.metric != ''">
                        <label>Period</label>
                        <input ng-model="box.config.period">
                    </md-input-container>
                    
                    <md-input-container ng-if="box.type == 'barchart'">
                        <label>Sampling</label>
                        <input ng-model="box.config.window">
                    </md-input-container>


                </div>
                <div class="actionBtn" ng-if="editMode">
                    <md-button aria-label="Cancel changes" ng-click="box = backupModel; cancel(box)" class="cancel" >Cancel</md-button>
                    <md-button aria-label="Save changes" ng-click="save()" class="md-raised md-primary" >Save</md-button>
                </div>

			<br />

			<!--div ng-if="box.type == 'incident'">BLblablabla</div-->

			<div ng-if="box.type == 'graph'" class="graph">
				<nvd3 options="box.options" api="api" showXAxis="true"
	            showYAxis="true"
	            tooltips="true"
	            interactive="true" 
	            data="box.data"
	            autorefresh="true"></nvd3>
           	</div>

		</div>
		<div flex="10" class="add-elem " ng-click="addElem($index)" ng-class="{'inactive' : $scope.full}" ng-controller="box">
			+
		</div>
	</div>

	<md-button ng-click="addRow()"> + Add Row</md-button>
</section>	
    </md-content>
</section>
