{
	"db": {
		"host": "localhost",
		"port": 27017,
		"user": null,
		"password": null,
		"database": "nemeadb",
		"collection": {
			"events": "alerts_new",
			"users": "users",
            "sessions" : "sessions"
		}
	},
	"api": {
		"version": "v2",
        "port" : 5555,
        "host" : "localhost"
	},
	"ssl" : false,
	"ssl_key" : "path/to/key",
	"ssl_crt" : "path/to/cert",
	"debug": false
}
